<div [formGroup]="form">
  



  
    <div class="row">
      <div class="col-lg-12 col-centered">
        <div class="form-group row">
          <div class="col-sm-7">

            
              <label class="col-sm-7 col-form-label"> Enter city name :</label>

              <input class=" form-control top" type="text" formControlName="City">
          
          

          </div>
         

          <div class="col-sm-7">


          
              <label class="col-sm-7 col-form-label"> Filter by name(enter name):</label>
              <input class="form-control" type="text" formControlName="Name">
            

          </div>

        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-color" data-toggle="modal" data-target="#exampleModal" (click)="getresult()" [disabled]="!form.valid"
    >
     Submit
   </button>
   <div *ngIf="flag">
   <p> The city is in State of   {{state}} </p>
   <p> No of records contains the name entered is : {{namevalue}}</p>
  </div>
</div>