.col-form-label{
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font: normal normal bold 14px/17px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}
.form-control{
   margin-bottom: 20px;
   margin-left: 10px;
   height: 20px;

}
.top{
    margin-left: 75px;
}
// .btn-color:disabled{
//     background: #999999 0% 0% no-repeat padding-box;
//     color: #ffff;
//     border: none;

// }
// .btn-color{
//     float: right;margin-right: 33px;margin-top: -10em;border-radius: 23px;
//     width: 119px;background: #007F00;
// }